@charset "utf-8";
/* CSS Document */

a:link{text-decoration: underline;color:#636363;}
a:visited {text-decoration: none;color:#565656;}
a:hover{text-decoration: underline;color: #333;}
a:active {text-decoration: none;}

html{
    font-size: 62.5%;
}
body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #636363;
}
h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 4.8rem;
    text-decoration: none;
}
section h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
h3 {
    font-size: 2.4rem;
}
p {
    font-size: 1.65rem;
    letter-spacing: 0.8;
    line-height: 2.0;
}



.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #f9f1ea;
}

nav {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    background-color: #f9f1ea;
    display: flex;
    justify-content: space-between;
}

nav h2{
    font-size: 48px;
    padding: 0.3em 0 0 0.4em;
}

nav ul {
    display: flex;
    margin: 2rem;
    z-index: 10000;
    font-size: 2rem;
}

nav li {
    list-style: none;
    padding-right: 3em;
}
details:hover {
    cursor: pointer;
    list-style: none;
    text-decoration: underline;color: #333;
}

details li {
    width: 160px;
    background-color: #fdcaca;
    padding: 0.5em;
    z-index: 1000;
}

.hero {
    background-image: url(../img/hero1920800.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
@media only screen and (width<440px) {
    
    nav {
        height: 50px;
    }
    nav h2 {
        font-size: 2rem;
    }
    nav ul {
        font-size: 1rem;
    }
    .hero {
        height: 50vh;
    }
}



main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20rem;
}

main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/top_about982344.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
}

.top-about-contents{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}

.top-about-illust {
    max-width: 100%;
    height: auto;
    padding: 10em 0 10em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-about-text {
    max-width: 100%;
    margin: 0 auto;
    padding: 18em 0 0 3em;
}
.more00 {
    display: flex;
    align-items: center;
    justify-content: center;
}


article {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8rem;
}

article h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-web-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/top_work982343.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-bottom: 5rem;
}

.top-web-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.top-web-contents h3 {
    margin: 0 0 0 20rem;
}
.more01 {
    margin: 8rem 0 0 20rem;
}
.top-web-img2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10em 15em 10em 0;
}

.top-gra-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/top_graphic982324.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.top-gra-img img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15em 0 0;
}


@media only screen and (width<440px) {
    
    main h1 {
        margin-bottom: 5rem;
    }
    .top-about-contents {
        display: block;
        width: 50%;
    }
    .top-about-illust {
        padding: 0;
    }
    .top-about-text {
        padding: 0;
    }

    article h1 {
        margin-bottom: 5rem;
    }
    .top-web-img {
        display: block;
        width: 100%;
    }
    .top-web-contents h3 {
        margin: 0 auto;
    }
    .more01 {
        margin: 0 auto;
    }
    .top-web-img2 {
        width: 5%;
        height: auto;
        padding: 0;
    }

    .top-gra-img {
        display: flex;
        flex-direction: column-reverse;
    }
    .top-gra-img img {
        width: 50%;
        height: auto;
        padding: 0;
    }

} 



footer{
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #f9f1ea;
    display: flex;
    justify-content: space-between;
    background-color: #fdcaca;
}

footer ul {
    display: flex;
    margin-left: 2rem;
}

footer li {
    list-style: none;
    padding: 1em 2em 0 0;
}

footer p {
    margin: 7rem 2rem 0 0;
}
footer details {
    margin-top: 1rem;
}



.about-section01{
    background-image: url(../img/about-up772670.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0rem 0 0 0;
    padding: 25em 0 0 0;
}
.about-section01 h1 {
    padding: 0 0 0em 0;
}

.about-contents01{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 0 30em 0;
}
.about-contents01 p {
    padding: 0 0 0 5em;
}

.about-section02{
    background-image: url(../img/about-down921691.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
}
.about-section02 h1 {
    padding: 5em 0 0 0 ;
    margin-bottom: 5rem;
}
.about-license {
    margin-bottom: 5rem;
}
.about-license p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    max-width: 400px;
    margin: 40px auto;
    padding: 0 0 12em 0;
}

.icon-grid img {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
}

.icon-grid img:hover {
    transform: scale(1.1);
}





.gra-h1 {
    margin: 10rem 0 5rem 0;
}


.gra-wine01 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.gra-wine01 img {
    max-width: 100%;
    height: auto;
}
.gra-wine01 p {
    padding: 0 0 0 5em;
}
.gra-wine02 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem ;
}
.gra-wine02 p {
    padding: 0 5em 0 0;
}
.gra-wine02 img {
    max-width: 100%;
    height: auto;
}


.gra-ring01 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}
.gra-ring01 img {
    max-width: 100%;
    height: auto;
}

.fryer P {
    padding: 3em 0 1em 0;
}
.fryer img {
    margin-top: 5rem;
}
.shopcard {
    padding: 0 0 0 10em;
}
.shopcard p {
    padding: 3em 0 0 3em;
}

.gra-leaflet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}
.gra-leaflet img {
    max-width: 100%;
    height: auto;
    padding: 0 10em 0 0;
}

.gra-businesscard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}
.gra-businesscard img {
    max-width: 100%;
    height: auto;
    padding: 0 0 0 10rem;
}



.web-distillery01 {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.web-distillery01 img {
    width: 100%;
    height: auto;
}
.web-distillery01 p {
    padding: 0 0 0 5em;
}
.web-distillery02 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}
.web-distillery02 img {
    width: 100%;
    height: auto;
}
.web-distillery02 p {
    padding: 0 5em 0 0;
}

.web-ring01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.web-ring01 img {
    max-width: 100%;
    height: auto;
}
.web-ring01 p {
    padding: 0 0 0 5em;
}
.web-ring02 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}
.web-ring02 p {
    padding: 0 5em 0 0;
}
.web-ring02 img {
    max-width: 100%;
    height: auto;
}
.web-chair {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}
.web-chair img {
    max-width: 100%;
    height: auto;
}
.web-chair p {
    padding: 0 0 0 5em;
}

.web-chair-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}
.web-chair-header p {
    padding: 0 5em 0 0;
}
.web-chair-header img {
    max-width: 100%;
    height: auto;
}
